<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ck" connectionString="Data Source=USER-20151102NV\ROOT;Initial Catalog=Storehouse;User ID=sa;Password=sa" />
    <add name="Storehouse.Properties.Settings.StorehouseConnectionString"
      connectionString="Data Source=USER-20151102NV\ROOT;Initial Catalog=Storehouse;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>